 <header class="header">
    <div class="header-container container">
      <nav class="navigation">
        <a href="./index.html" class="header-logo"><img src="/img/logo.png" alt="Logo" /> Product</a>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a href="./index.html" class="nav-list-link active">Product</a>
          </li>
          <li class="nav-list-item">
            <a href="./pricing.html" class="nav-list-link">Pricing</a>
          </li>
          <li class="nav-list-item">
            <a href="./customers.html" class="nav-list-link">Customers</a>
          </li>
          <li class="nav-list-item">
            <a href="./resourses.html" class="nav-list-link">Resources</a>
          </li>
        </ul>
      </nav>

      <ul class="header-list-btn">
        <li class="header-list-item">
          <button type="button" class="header-btn-sign">Sign in</button>
        </li>
        <li class="header-list-item">
          <button type="button" class="header-btn-signup">Sign up</button>
        </li>
      </ul>
      <button type="button" class="button-header-mobile"><svg width="25" height="25"
      >
        <use href="../img/sprite.svg#javascript"></use>
      </svg></button>
    </div>
  </header>